.section-15 {
  padding-top: var(--indent);

  &__title {
    margin-bottom: 100px;

    @include xl {
      margin-bottom: 80px;
    }

    @include lg {
      margin-bottom: 50px;
    }

    @include md {
      margin-bottom: 30px;
    }

    @include sm {
      margin-bottom: 20px;
    }
  }
}