.section-24 {
  background-image: url('../../images/section-24-bg.webp');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: var(--indent) 0;
  margin-top: var(--indent);

  &__title {
    text-align: center;
  }

  &__form-img {
    position: absolute;
    right: 0;
    bottom: calc(-1* var(--indent));

    @include xl {
      width: 75%;
    }

    @include lg {
      display: none;
    }
  }

  &__form {
    position: relative;
  }

  &__form-title {
    margin-bottom: 10px;
  }

  &__form-subtitle {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 30px;

    @include xl {
      margin-bottom: 25px;
    }

    @include lg {
      margin-bottom: 20px;
    }

    @include md {
      margin-bottom: 15px;
    }
  }

}